<div class="container">
    <div *ngIf="restaurantsByCity.length != 0">
        <div>
            <h2>Restaurants in {{ citySearchQuery }}</h2>
        </div>
        <div class="row my-4">
            <div *ngFor="let restaurant of restaurantsByCity" class="col-4 ">
                <div class="card" style="width: 20rem;">
                    <img class="card-img" [src]=restaurant.imgUrl alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ restaurant.restaurantName }}</h5>
                        <p class="card-text">{{ restaurant.name}}</p>
                        <p class="card-text">₹ {{ restaurant.price}}</p>
                        <button class="btn btn-primary" (click)="addToCart(restaurant)">Add to cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="restaurantsByCity.length == 0" class="d-flex justify-content-center">
        <div>
            <h2>Enter a city to search restaurants</h2>
        </div>
    </div>
</div>