<ng-container *ngIf="cartData.length != 0">
<div class="container m-5">
    <div class="d-flex justify-content-center">
        <div class="card">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Restaurant Name</th>
                    <th scope="col">Dish</th>
                    <th scope="col">Qty</th>
                    <th scope="col">Price</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of cartData; let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{ item.restaurantName }}</td>
                    <td>{{ item.name }}</td>
                    <td>1</td>
                    <td>{{ item.price}}</td>
                    <td>
                        <button class="btn btn-outline-danger" (click)="deleteCartItem(item)">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="6" class="center">Grand Total : ₹ {{ grandTotal }}</td>
                  </tr>
                  <tr>
                    <td colspan="2"></td>
                    <td><button class="btn btn-outline-danger" (click)="emptyCart()">Empty Cart</button></td>
                    <td><button class="btn btn-outline-success" routerLink="/search">Add more</button></td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
</ng-container>

<ng-container *ngIf="cartData.length == 0">
    <div class="container m-5 d-flex justify-content-center">
        <div class="card p-4">
            <h5 class="card-title">My Cart</h5>
            <div class="center">
                <img class="img-size" src="../../../assets/empty-cart.png" alt="">
                <h4>Your cart is empty!</h4>
                <h6>Add items to cart.</h6>
                <button class="btn btn-danger" routerLink="/search">Browse now</button>
            </div>
        </div>
    </div>
</ng-container>