.zomato-icon {
    font-size: 30px;
    font-style: italic;
    color: white;
    margin-left: 200px;
}

a {
    text-decoration: none;
}

.cart-icon {
    font-size: 30px;
}

.shift-cart-icon {
    margin-right: 50px;
}