<header>
    <div class="navbar navbar-dark bg-danger shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
            <a routerLink="" class="zomato-icon">
                    <strong class="text-light">
                        zomato
                    </strong>
            </a>
        </div>
        <div class="shift-cart-icon">
            <button routerLink="/cart" class="btn btn-light">
                <i class="bi bi-cart"></i>
                <div class="badge bg-danger">{{totalItems}}</div>
                <!-- <div class="badge bg-danger">2</div> -->
            </button>
        </div>
    </div>
</header>
