<!-- <p>home works!</p> -->
<div>
    <div>
        <img class="header-img" src="../../assets/Header image.png" alt="">
    </div>
    <div class="add-restaurant">
        <a href="" >Add restaurant</a>
    </div>
    <div class="zomato-name">
        <span>zomato</span>
    </div>
    <div class="tag-line">
        <span>Discover the best food & drinks in your city</span>
    </div>
    <div class="w-50 p-3 search-box">
        <!-- <app-search></app-search> -->
        <button type="button" class="btn btn-outline-light" routerLink="/search">Search Restaurants by City</button>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="card card-top m-1" style="width: 35rem;">
            <img src="../../assets/card1.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Order Online</h5>
                <p class="card-text">Stay home and order to your doorstep</p>
            </div>
        </div>
        <div class="card card-top m-1" style="width: 35rem;">
            <img src="../../assets/card2.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Dining</h5>
                <p class="card-text">View the city's favourite dining menu</p>
            </div>
        </div>
    </div>
</div>