.header-img{
    width: 100%;
}

.add-restaurant {
    color: white;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    position: absolute;
    top: 20px;
    right: 320px;
}

a {
    color: white;
    text-decoration: none;
}

.zomato-name {
    color: white;
    font-size: 90px;
    font-style: italic;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: 80px;
    left: 40%;
}

.tag-line {
    color: white;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 200px;
    left: 25%;
}

.card {
    padding: 0;
}

.card-top {
    top: 20px;
}

.card-left {
    right: 50px;
}

.search-box {
    position: absolute;
    top: 260px;
    left: 42%;
}