<div>
    <div>
        <app-header></app-header>
    </div>
    <div class="p-3 d-flex justify-content-center">
        <form #form="ngForm" (submit)="submit()">
            <div class="form-group">
                <input type="text" class="form-control" name="searchCity" id="searchCity" aria-describedby="emailHelp"
                    placeholder="Enter city" [(ngModel)]="cityName">
            </div>
        </form>
    </div>
    <div>
        <app-display-search-result [citySearchQuery]="cityName"></app-display-search-result>
    </div>
</div>
<router-outlet></router-outlet>